/node_modules
/public/hot
/public/storage
/public/static
/public/fonts/vendor
/public/mix-manifest.json
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.project
package-lock.json
.buildpath
composer.lock
org.eclipse.wst.validation.prefs-.settings
composer.phar
.DS_Store
